/*
 Theme Name:   Le thème de Christine
 Description:  Un superbe thème enfant pour comprendre comment ça marche
 Author:       Christine
 Author URI:   https://codecolliders.com/
 Template:     generatepress
 Version:      0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  monsupertheme
*/

@media screen and (min-width: 640px) {
    .restaurants-container, .recette-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
}
